manifest {
    name            = 'Swetcha2001/germline-variant-calling-nf'
    author          = 'Swetcha Radandi'
    description     = 'GATK best-practices germline SNV/indel calling with annotation and GIAB benchmarking'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.10.0'
    version         = '1.0.0'
}

params {
    input       = null
    fasta       = null
    intervals   = null
    known_sites = null
    gff         = null
    clinvar     = null
    truth_vcf   = null
    truth_bed   = null
    outdir      = 'results'
    ref_cache   = "${projectDir}/.ref_cache"
    help        = false
    max_cpus    = 4
    max_memory  = '8.GB'
}

includeConfig 'conf/base.config'

profiles {
    test      { includeConfig 'conf/test.config' }
    benchmark { includeConfig 'conf/benchmark.config' }
    conda {
        conda.enabled   = true
        process.conda   = "${projectDir}/environment.yml"
    }
    mamba {
        conda.enabled   = true
        conda.useMamba  = true
        process.conda   = "${projectDir}/environment.yml"
    }
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'germline-vc:1.0.0'   // build with: docker build -t germline-vc:1.0.0 .
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        process.container      = 'docker-daemon://germline-vc:1.0.0'
    }
}

timeline { enabled = true; file = "${params.outdir}/pipeline_info/timeline.html"; overwrite = true }
report   { enabled = true; file = "${params.outdir}/pipeline_info/report.html";   overwrite = true }
trace    { enabled = true; file = "${params.outdir}/pipeline_info/trace.tsv";     overwrite = true }
dag      { enabled = true; file = "${params.outdir}/pipeline_info/dag.html";      overwrite = true }
