process {
    cpus   = 1
    memory = 2.GB
    time   = 2.h
    errorStrategy = { task.exitStatus in [104, 134, 137, 139, 143] ? 'retry' : 'finish' }
    maxRetries    = 1

    withLabel: process_low    { cpus = 1;                                   memory = 2.GB }
    withLabel: process_medium { cpus = { Math.min(2, params.max_cpus) };     memory = 4.GB }
    withLabel: process_high   { cpus = { Math.min(4, params.max_cpus) };     memory = { params.max_memory as nextflow.util.MemoryUnit } }
}
