/*
 * Small CI test: ~23k read pairs from GIAB HG001 (NA12878), chr20:10.00-10.20 Mb, GRCh37.
 * The chr20 reference is downloaded from Ensembl by scripts/download_reference.sh.
 */
params {
    input     = "${projectDir}/assets/samplesheet_test.csv"
    fasta     = "${projectDir}/ref/Homo_sapiens.GRCh37.75.dna.chromosome.20.fa.gz"
    intervals = '20:10000000-10200000'
    gff       = "${projectDir}/ref/Homo_sapiens.GRCh37.87.chr20.gff3.gz"
    clinvar   = "${projectDir}/ref/clinvar_GRCh37_chr20.vcf.gz"
    truth_vcf = "${projectDir}/ref/HG001_GRCh37_chr20_v4.2.1_benchmark.vcf.gz"
    truth_bed = "${projectDir}/ref/HG001_GRCh37_chr20_v4.2.1_benchmark.bed"
    max_cpus   = 2
    max_memory = '4.GB'
}
